<!-- /snippets/product-slideshow.liquid -->

<div class="product__slides" data-product-slideshow>
  {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}
  {%- assign img_api = featured_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  <div class="lazy-image product__photo" data-thumb="{{ featured_image.src | img_url: '200x200', crop: 'center' }}">
    <div {% if featured_image.aspect_ratio < 1 %}style="width:{{ featured_image.aspect_ratio | times: 100 }}%; margin: 0 auto;"{% endif %}>
      <div class="lazy-image" style="padding-top:{{ 1 | divided_by: featured_image.aspect_ratio | times: 100}}%; background-image:  url('{{ featured_image.src | img_url: '1x1' }}');">
        <img data-product-featured-image data-product-image class="fade-in lazyload lazypreload"
          {% if section.settings.zoom_enable %}data-mfp-src="{{ featured_image | img_url: 'master' }}"{% endif %}
          data-image-id="{{ featured_image.id }}"
          alt="{{ featured_image.alt | escape }}"
          data-src="{{ img_api }}"
          data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048, 2450, 2700, 3000, 3350, 3750, 4100]"
          data-aspectratio="{{ block.settings.image.aspect_ratio }}"
          data-sizes="auto"/>
        {% if featured_image.alt contains 'youtube.com' or featured_image.alt contains 'vimeo.com' %}
          <a href="{{ featured_image.alt }}" class="productVideo icon__play--product">
            {% include 'icon-play' %}
            <span class="icon-fallback-text">&#9658;</span>
          </a>
        {% endif %}
      </div>
    </div>
  </div>

  {% for image in product.images %}
    {% unless image contains featured_image %}
      {%- assign img_api = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
      <div class="product__photo{% unless forloop.first == true %} product__photo--additional{% endunless %}"  data-thumb="{{ image.src | img_url: '200x200', crop: 'center' }}">
        <div {% if image.aspect_ratio < 1 %}style="width:{{ image.aspect_ratio | times: 100 }}%; margin: 0 auto;"{% endif %}>
          <div class="lazy-image" style="padding-top:{{ 1 | divided_by: image.aspect_ratio | times: 100}}%; background-image:  url('{{ image.src | img_url: '1x1' }}');">
            <img data-product-image class="fade-in lazyload lazypreload"
              {% if section.settings.zoom_enable %}data-mfp-src="{{  image.src | img_url: 'master' }}"{% endif %}
              data-image-id="{{ image.id }}"
              alt="{{ image.alt | escape }}"
              data-src="{{ img_api }}"
              data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048, 2450, 2700, 3000, 3350, 3750, 4100]"
              data-aspectratio="{{ block.settings.image.aspect_ratio }}"
              data-sizes="auto"/>
            {% if image.alt contains 'youtube.com' or image.alt contains 'vimeo.com' %}
              <a href="{{ image.alt }}" class="productVideo icon__play--product">
                {% include 'icon-play' %}
                <span class="icon-fallback-text">&#9658;</span>
              </a>
            {% endif %}
          </div>
        </div>
      </div>
    {% endunless %}
  {% endfor %}
</div>
<noscript>
  {% for image in product.images %}
    <img src="{{ image | img_url: '900x' }}" alt="{{ image.alt | default: product.title  }}">
  {% endfor %}
</noscript>
{% if product.images.size > 1 %}
  <div data-product-thumbs class="product__thumbs"></div>
{%- endif -%}
