<!-- /sections/blog.liquid -->

{% paginate blog.articles by 12 %}

<div class="blog" data-section-id="{{ section.id }}" data-section-type="blog">
  <div class="wrapper page-margin">
    {% if section.settings.show_title or section.settings.show_rss %}
      {% include 'dots', direction: 'down' %}
      <div class="title-decoration"></div>
    {% endif %}
    {% if section.settings.show_title %}
      <h1 class="title--decorated inline-block">{{ blog.title | escape }}</h1>
    {% endif %}
    {% if section.settings.show_rss %}
      <a class="blog__rss" href="{{ blog.url }}.atom" title="{{ shop.name }} RSS" target="_blank">
        {% include 'icon-rss' %}
      </a>
    {% endif %}

    {%- if section.settings.show_tag_navigation -%}
      <ul class="inline-nav capitalize">
        <li {% if current_tags == blank %} class="inline-nav--active"{% endif %}>
          <a href="/blogs/{{ blog.handle }}/">{{ 'blogs.general.all' | t }}</a>
        </li>
        {% for tag in blog.all_tags %}
          <li {% if current_tags contains tag %}class="inline-nav--active"{% endif %}>
            {{ tag | link_to_tag: tag }}
          </li>
        {% endfor %}
      </ul>
    {%- endif -%}

    {%- if section.blocks and current_tags == blank and paginate.current_page == 1 -%}
      <div class="grid grid--uniform">
        {%- assign pinned = '' -%}
        {% for block in section.blocks %}
          {% assign grid_width_large = 'large-up--one-half' %}
          {% assign grid_width_medium = 'medium--one-half' %}
          {% assign grid_width_small = 'small--one-whole' %}

          {%- assign article = articles[block.settings.pinned_post] -%}

          {% if article != blank or page.empty? %}
            {% include 'article-grid-item', show_excerpt: section.settings.show_excerpt, show_meta: section.settings.show_meta, show_tags: section.settings.show_tags, show_comments: section.settings.show_comments %}
            {%- assign pinned = pinned | append: article.id | append: ", " -%}
          {% else %}
            {% comment %}    Onboarding content    {% endcomment %}
              <div class="grid__item {{ grid_width_small }} {{ grid_width_medium }} {{ grid_width_large }}">
                <div class="article__card article__card--image">
                  <p class="lazy-image article__card__image__wrapper">
                    <span>
                      {% capture imgCount %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                      {% capture svg_name %}collection-{{ imgCount }}{% endcapture %}
                      {{ svg_name | placeholder_svg_tag: 'placeholder-svg' }}
                    </span>
                  </p>
                  <div class="article__card__content">
                    <p class="h3 article__card__title">{{ 'homepage.onboarding.blog_title' | t }}</p>
                    <div class="article__card__text">
                      <p>{{ 'homepage.onboarding.blog_excerpt' | t }}</p>
                    </div>
                  </div>
                </div>
              </div>
            {% comment %}    End onboarding content    {% endcomment %}
          {% endif %}
        {% endfor %}
      </div>
    {%- endif -%}

    <div class="grid grid--uniform">
      {% for article in blog.articles %}
        {% if current_page == 1 and forloop.index < 2 and section.settings.blocks == empty %}
          {% assign grid_width_large = 'large-up--one-half' %}
          {% assign grid_width_medium = 'medium--one-half' %}
          {% assign grid_width_small = 'small--one-whole' %}
        {% else %}
          {% assign grid_width_large = 'large-up--one-third' %}
          {% assign grid_width_medium = 'medium--one-third' %}
          {% assign grid_width_small = 'small--one-whole' %}
        {% endif %}
        {%- unless pinned contains article.id -%}
          {% include 'article-grid-item', show_excerpt: section.settings.show_excerpt, show_meta: section.settings.show_meta, show_tags: section.settings.show_tags, show_comments: section.settings.show_comments %}
        {%- endunless -%}
      {% endfor %}
    </div>
    {% if section.settings.show_view_all %}
      <div class="text-center">
        <a href="{{ blog.url }}" class="btn">
          {{ 'blogs.general.view_all' | t }}
        </a>
      </div>
    {% endif %}
  </div>
</div>



  {% if paginate.pages > 1 %}
    {% include 'pagination' %}
  {% endif %}

{% endpaginate %}


{% schema %}
{
  "name": "Blog posts",
  "settings": [
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "checkbox",
      "id": "show_tag_navigation",
      "default": false,
      "label": "Show tag navigation"
    },
    {
      "type": "checkbox",
      "id": "show_title",
      "label": "Show blog title",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_rss",
      "label": "Show RSS",
      "default": false
    },
    {
      "type": "header",
      "content": "Article grid"
    },
    {
      "type": "checkbox",
      "id": "show_meta",
      "label": "Show date and author",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_comments",
      "default": true,
      "label": "Show article comment count"
    },
    {
      "type": "checkbox",
      "id": "show_excerpt",
      "default": false,
      "label": "Show article excerpt"
    },
    {
      "type": "checkbox",
      "id": "show_tags",
      "default": false,
      "label": "Show article tags"
    }
  ],
  "blocks": [
    {
      "type": "pinned_post",
      "name": "Pinned post",
      "settings": [
        {
          "type": "article",
          "id": "pinned_post",
          "label": "Pinned post",
          "info": "Feature a popular post at the top of the blog"
        }
      ]
    }
  ]
}
{% endschema %}
