{%- if section.settings.main_linklist -%}
  {%- assign main_menu_linklist = section.settings.main_linklist-%}
{%- else -%}
  {%- assign main_menu_linklist = 'main-menu' -%}
{%- endif -%}

<div class="header__section {% if section.settings.transparent %} header--transparent{% endif %} {% if section.settings.transparent and section.settings.transparent_logo != blank %} header--transparent--logo{% endif %}">

  <style>
    {% if section.settings.logo != blank %}
      .header__logo__link{
        max-width: {{ section.settings.logo_max_width }}px;
      }
    {% endif %}

    .template-index .header--transparent:not(:hover) .header--desktop a,
    .template-index .header--transparent:not(:hover) .header--touch .header__cart__link,
    .template-index .header--transparent:not(:hover) .header--touch .header__hamburger,
    .template-index .header--transparent:not(:hover) .header--touch .header__logo a,
    .template-index .header--transparent:not(:hover) .announcement__message{
      color: {{ section.settings.transparent_text_color }};
    }

    {% assign opacity = section.settings.opacity | prepend: '0.' | times: 1 %}
    {% assign bg_rgba = settings.color_nav_bg | color_modify: 'alpha', opacity %}
    {% assign border_rgba = settings.color_nav_border | color_modify: 'alpha', opacity %}

    .template-index .header--transparent:not(:hover) .header-wrapper,
    .template-index .header--transparent:not(:hover) .announcement,
    .template-index .header--transparent:not(:hover) .header--desktop,
    .template-index .header--transparent:not(:hover) .header--touch{
      background-color: {{ bg_rgba }};
      border-color: {{ border_rgba }};
    }

  </style>

  {% if section.settings.message %}
    {% if section.settings.home_page_only == false or template.name == 'index' %}
      <style>
        .announcement {
          background-color: {{ section.settings.color_bg }};
        }
        .announcement--link:hover {
          {% assign brightness = section.settings.color_bg | color_brightness %}

          {% if brightness <= 192 %}
            {% assign lightenAmount = 255 | minus: brightness | divided_by: 255 | times: 16 %}
            background-color: {{ section.settings.color_bg | color_lighten: lightenAmount }};
          {% else %}
            {% assign darkenAmount = 255 | divided_by: brightness | times: 8 %}
            background-color: {{ section.settings.color_bg | color_darken: darkenAmount }};
          {% endif %}
        }
        .announcement__message {
          color: {{ section.settings.color_text }};
        }
      </style>

      {% if section.settings.message_link == blank %}
        <div class="announcement">
      {% else %}
        <a href="{{ section.settings.message_link }}" class="announcement announcement--link">
      {% endif %}

        <p class="announcement__message">{{ section.settings.message_text | escape }}</p>

      {% if section.settings.message_link == blank %}
        </div>
      {% else %}
        </a>
      {% endif %}

    {% endif %}
  {% endif %}

  <div class="header-wrapper" data-section-id="{{ section.id }}" data-section-type="header-section">
    <div class="header--desktop small--hide">
      <header class="header">
        {%- if section.settings.show_social -%}
          <ul class="header__social unstyled">
            {%- assign social_accounts = 'Facebook, Twitter, Pinterest, Instagram, Snapchat, Tumblr, YouTube, Vimeo,' | split: ', ' -%}
            {% for social in social_accounts %}
              {%- assign social_handle = social | handleize -%}
              {% capture social_link %}social_{{ social_handle }}_link{% endcapture %}
              {% capture social_icon %}icon-{{ social_handle }}{% endcapture %}

              {% if settings[social_link] != blank %}
                <li>
                  <a href="{{ settings[social_link] }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: social }}">
                    {% include social_icon %}
                    <span class="icon-fallback-text">{{ social }}</span>
                  </a>
                </li>
              {% endif %}

            {% endfor %}
          </ul>
        {%- endif -%}


        <div class="header__logo">
          {% include 'logo' %}
        </div>

        <div class="header__actions">
        <!--  {% if shop.customer_accounts_enabled %}
              {% if customer and customer.first_name != blank %}
                <a href="/account" title="{{ 'layout.customer.account' | t }}"><span class="account__name">{{ customer.first_name }}</span> {% include 'icon-user' %}</a>
              {% else %}
                <a href="/account">{% include 'icon-user' %}<span class="visually-hidden">{{ 'layout.customer.account' | t }}</span></a>
              {% endif %}
          {% endif %} -->
          <a class="header__cart__link" href="/cart">
            {% if cart.item_count > 0 %}
              {% include 'icon-basket-full' %}
            {%- else -%}
              {% include 'icon-basket' %}
            {%- endif -%}
            <span class="visually-hidden">{{ 'cart.general.title' | t }}</span>
          </a>
        </div>
      </header>
      <nav role="navigation" class="nav{% if section.settings.show_search %} nav--search{% endif %}">
        <div class="site-nav nav__links">
          <ul class="main-menu unstyled" role="navigation" aria-label="primary">
          {%- for link in linklists[main_menu_linklist].links -%}
            {% include 'nav-item', version: 'desktop', seed: forloop.index %}
          {%- endfor -%}
          <ul>
        </div>
        {%- if section.settings.show_search -%}
          <div class="nav__search">
            <a href="/search" class="nav__search__link search-popup-js" data-show="#popup-search" title="{{ 'general.search.placeholder' | t }}">
              <span class="icon-search">{% include 'icon-search' %}</span>
              <span class="icon-close">{% include 'icon-x' %}</span>
              <span class="visually-hidden">{{ 'general.search.submit' | t }}</span>
            </a>
            <div class="search__popup" id="popup-search" style="display:none;">
              <form action="/search" method="get" role="search">
                <label for="HeaderSearch" class="label-hidden">
                  {{ 'general.search.placeholder' | t }}
                </label>
                <div class="input-group">
                  <input type="search"
                         class="input-group-field"
                         name="q"
                         id="HeaderSearch"
                         value="{{ search.terms | escape }}"
                         placeholder="{{ 'general.search.placeholder' | t }}">
                  <span class="input-group-btn">
                    <button type="submit" class="btn">
                      {% include 'icon-search' %}
                      <span class="icon-fallback-text">{{ 'general.search.submit' | t }}</span>
                    </button>
                  </span>
                </div>
              </form>
            </div>
          </div>
        {%- endif -%}
      </nav>
    </div>
    <div class="header--touch medium-up--hide">
      <header class="header">

        <a href="#" class="ariaToggle header__hamburger" aria-controls="main-menu-mobile" aria-haspopup="true" aria-expanded="false">
          {% include 'icon-nav' %}
          <span class="visually-hidden">{{ 'collections.sidebar.more' | t }}</span>
        </a>

        <div class="touch__nav" role="navigation" aria-label="primary" id="main-menu-mobile">
          <a href="#" class="ariaToggle touch__nav__close" aria-controls="main-menu-mobile" aria-haspopup="true" aria-expanded="false">
            {% include 'icon-x' %}
            <span class="visually-hidden">X</span>
          </a>
          {%- if section.settings.show_search -%}
            <form action="/search" method="get" role="search" class="touch__search">
              <label for="Search" class="label-hidden">
                {{ 'general.search.placeholder' | t }}
              </label>
              <input type="search"
                     name="q"
                     id="Search"
                     value="{{ search.terms | escape }}"
                     class="touch__search__input searchInput"
                     placeholder="{{ 'general.search.placeholder' | t }}">
              <button type="submit" class="btn--reset touch__search__submit searchSubmit">
                {% include 'icon-search' %}
                <span class="icon-fallback-text">{{ 'general.search.submit' | t }}</span>
              </button>
            </form>
          {%- else -%}
            <div class="search__placeholder"></div>
          {%- endif -%}

          <ul class="touch__nav__links">
            {% for link in linklists[main_menu_linklist].links %}
              {% include 'nav-item', version: 'mobile', seed: forloop.index %}
            {% endfor %}
          </ul>


          {%- assign social_accounts = 'Facebook, Twitter, Pinterest, Instagram, Snapchat, Tumblr, YouTube, Vimeo,' | split: ', ' -%}
          {%- assign social_count = 0 -%}
          {%- for social in social_accounts -%}
            {%- assign social_handle = social | handleize -%}
            {% capture social_link %}social_{{ social_handle }}_link{% endcapture %}
            {%- if settings[social_link] != blank -%}
              {%- assign social_count = social_count | plus: 1  -%}
            {%- endif -%}
          {%- endfor -%}
          <div class="touch__bottom touch__bottom--{{ social_count }}">
            <div class="touch__social">
              {% for social in social_accounts %}
                {%- assign social_handle = social | handleize -%}
                {% capture social_link %}social_{{ social_handle }}_link{% endcapture %}
                {% capture social_icon %}icon-{{ social_handle }}{% endcapture %}
                {% if settings[social_link] != blank %}
                  <a href="{{ settings[social_link] }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: social }}">
                    {% include social_icon %}
                    <span class="icon-fallback-text">{{ social }}</span>
                  </a>
                {% endif %}
              {% endfor %}
            </div>
            <a href="/account" class="touch__account">
              {{ 'customer.login.sign_in' | t }}
              <span class="arrow-right">{% include 'icon-arrow-down' %}</span>
            </a> 
          </div>
        </div>

        <div class="header__logo">
          {% include 'logo' %}
        </div>

        <div class="header__actions">
          <div class="header__cart">
            <a class="header__cart__link" href="/cart">
              {% if cart.item_count > 0 %}
                {% include 'icon-basket-full' %}
              {%- else -%}
                {% include 'icon-basket' %}
              {%- endif -%}
              <span class="visually-hidden">{{ 'cart.general.title' | t }}</span>
            </a>
          </div>
        </div>
      </header>
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "range",
        "id": "logo_max_width",
        "min": 50,
        "max": 450,
        "step": 10,
        "unit": "px",
        "label": "Custom logo width",
        "default": 250
      },
      {
        "type": "link_list",
        "id": "main_linklist",
        "label": "Menu",
        "default": "main-menu"
      },
      {
        "type": "checkbox",
        "id": "show_search",
        "label": "Show search in header",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_social",
        "label": "Show social icons",
        "default": true
      },
      {
        "type": "header",
        "content": "Transparent header"
      },
      {
        "type": "checkbox",
        "id": "transparent",
        "label": "Enable transparent header on the home page",
        "default": false
      },
      {
        "type":    "range",
        "id":      "opacity",
        "min":     0,
        "max":     100,
        "step":    1,
        "label":   "Header opacity",
        "info":    "Increase contrast for legible text.",
        "default": 0
      },
      {
        "type": "image_picker",
        "id": "transparent_logo",
        "label": "Tranparent logo image",
        "info": "This logo will be used on the home page if the transparent header setting is selected"
      },
      {
        "type": "color",
        "id": "transparent_text_color",
        "label": "Text and icons color",
        "default": "#ffffff"
      },
      {
        "type": "header",
        "content": "Announcement bar"
      },
      {
        "type": "checkbox",
        "id": "message",
        "label": "Show announcement",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "home_page_only",
        "label": "Home page only",
        "default": true
      },
      {
        "type": "text",
        "id": "message_text",
        "label": "Text",
        "default": "Announce something here"
      },
      {
        "type": "url",
        "id": "message_link",
        "label": "Link"
      },
      {
        "type": "color",
        "id": "color_bg",
        "label": "Bar",
        "default": "#f7f7f7"
      },
      {
        "type": "color",
        "id": "color_text",
        "label": "Text",
        "default": "#586272"
      }
    ]
  }
{% endschema %}
