<!-- /sections/index-instagram.liquid -->


{% assign instagram_grid_width_large = 'large-up--one-sixth' %}
{% assign instagram_grid_width_medium = 'medium--one-third' %}
{% assign instagram_grid_width_small = 'small--one-half' %}

{% case section.settings.instagram_grid_setting_large %}
  {% when 2 %}
    {% assign instagram_grid_width_large = 'large-up--one-half' %}
  {% when 3 %}
    {% assign instagram_grid_width_large = 'large-up--one-third' %}
  {% when 4 %}
    {% assign instagram_grid_width_large = 'large-up--one-quarter' %}
  {% when 5 %}
    {% assign instagram_grid_width_large = 'large-up--one-fifth' %}
  {% when 6 %}
    {% assign instagram_grid_width_large = 'large-up--one-sixth' %}
{% endcase %}

{% case section.settings.instagram_grid_setting_medium %}
  {% when 2 %}
    {% assign instagram_grid_width_medium = 'medium--one-half' %}
  {% when 3 %}
    {% assign instagram_grid_width_medium = 'medium--one-third' %}
  {% when 4 %}
    {% assign instagram_grid_width_medium = 'medium--one-quarter' %}
{% endcase %}

{% case section.settings.instagram_grid_setting_small %}
  {% when 2 %}
    {% assign instagram_grid_width_small = 'small--one-half' %}
  {% when 3 %}
    {% assign instagram_grid_width_small = 'small--one-third' %}
  {% when 4 %}
    {% assign instagram_grid_width_small = 'small--one-quarter' %}
{% endcase %}

<div class="index-instagram {{ section.settings.color_bg }}" data-section-id="{{ section.id }}" data-section-type="instagram">
  <div class="wrapper">
    {% if section.settings.title != blank %}
        {% include 'dots', direction: 'down' %}
        <div class="title-decoration"></div>
        <h1 class="title--decorated">{{ section.settings.title | escape }}</h1>
    {% endif %}
    {% if section.settings.token == '' %}
      <div class="grid grid--uniform grid--full">
        {% for i in (1..section.settings.instagram_photo_count) %}
          <div class="grid__item {{instagram_grid_width_large}} {{instagram_grid_width_medium}} {{instagram_grid_width_small}}">
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
          </div>
        {% endfor %}
      </div>
    {% else %}
      <div id="Instafeed-{{ section.id }}" class="grid grid--full grid--uniform" data-count="{{ section.settings.instagram_photo_count }}" data-access-token="{{ section.settings.token }}" data-grid="{{instagram_grid_width_large}} {{instagram_grid_width_medium}} {{instagram_grid_width_small}}"></div>
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "Instagram feed",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Instagram"
    },
    {
      "type": "select",
      "id": "color_bg",
      "label": "Background color",
      "default": "index--white",
      "options": [
        { "value": "index--white", "label": "White"},
        { "value": "index--gray", "label": "Secondary"}
      ]
    },
    {
      "type": "text",
      "id": "token",
      "label": "Instagram access token",
      "info": "[Generate Instagram access token](http://help.groupthought.com/article/25-create-an-instagram-token)"
    },
    {
      "type":    "range",
      "id":      "instagram_photo_count",
      "min":     1,
      "max":     12,
      "step":    1,
      "label":   "Number of photos to display",
      "default": 6
    },
    {
      "type": "header",
      "content": "Photos per row"
    },
    {
      "type":    "range",
      "id":      "instagram_grid_setting_large",
      "min":     2,
      "max":     6,
      "step":    1,
      "label":   "Desktop",
      "default": 6
    },
    {
      "type":    "range",
      "id":      "instagram_grid_setting_medium",
      "min":     2,
      "max":     4,
      "step":    1,
      "label":   "Tablet",
      "default": 3
    },
    {
      "type":    "range",
      "id":      "instagram_grid_setting_small",
      "min":     2,
      "max":     4,
      "step":    1,
      "label":   "Mobile",
      "default": 3
    }
  ],
  "presets": [
    {
      "name": "Instagram feed",
      "category": "Social"
    }
  ]
}
{% endschema %}
