<!-- /sections/index-collection.liquid-->

{%- assign collection = collections[section.settings.collection] -%}

{% assign grid_width_large = 'large-up--one-quarter' %}
{% assign grid_width_medium = 'medium--one-half' %}
{% assign grid_width_small = 'small--one-half' %}

<div class="index-collection index-collection--{{ collection.products_count }} {{ section.settings.homepage_collection_color }}" data-section-id="{{ section.id }}" data-section-type="index-collection">
  <div class="wrapper">
    <div class="index-collection__background"></div>
    <div class="index-collection__foreground">
      {% if section.settings.title != blank %}
        <h4 class="index__collection__title h4--body">{{ section.settings.title | escape }}</h4>
      {% endif %}
      {% if section.settings.description != blank %}
        <p class="index__collection__description rte--index rte">{{ section.settings.description | escape }}</h4>
      {% endif %}
      <div class="grid" data-index-collection-slideshow>
        {% for product in collection.products limit: 20 %}
          {% include 'product-grid-item' %}
        {% else %}
          {% include 'onboarding-featured-products' %}
        {% endfor %}
      </div>
      {% if section.settings.show_view_all %}
        <div class="text-center">
          <a href="{{ collection.url }}" class="btn btn--clear">
            {{ 'collections.general.view_all' | t }}
          </a>
        </div>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Featured collection",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Featured Products"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description",
      "default": "Use this area to describe the collection."
    },
    {
      "id": "collection",
      "type": "collection",
      "label": "Collection"
    },
    {
      "type": "select",
      "id": "homepage_collection_color",
      "label": "Background color",
      "default": "index--white",
      "options": [
        { "value": "index--white", "label": "White"},
        { "value": "index--gray", "label": "Secondary"}
      ]
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "label": "Show 'View all' button",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "Featured collection",
      "category": "Collection"
    }
  ]
}
{% endschema %}
